.about-section {
    margin-top: 120px;
}

.about-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.about-area p {
    margin-left: 200px;
    font-size: 20px;
    font-weight: 500;
}

.about-area img {
    height: 350px;
    width: 370px;
}

.about-section h3{
    text-align: center;
    font-size: 25px;
}

.download-button {
    background-color: #8F00FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
}

.download-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn-div button {
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .about-area {
        display: flex;
        flex-direction: column;
    }

    .about-area p {
        width: 100%;
        margin: auto;
        padding: auto;
        margin-top: 20px;
        margin-bottom: 40px;

    }

    .about-area img {
        height: 300px;
        width: 320px;
    }
}