* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.margin {
    margin: 0rem 8rem;
}

a:link{
    text-decoration: none;
    color: none;

}

@media screen and (max-width: 1050px) {
    .margin {
        margin: 0rem 3rem;
    }
}